$nav-background-color: #204051;
$font-color: #cae8d5;
$line-color: #0FF;
$search-color: #808080;
$matrix-background-color:#3b6978;
$arrows: #cae8d5;
$task-color: #84a9ac;
$task-manage-title-color: #204051;
$task-manage-form-color: #3b6978;
$notice-background-color: #090;
$alert-background-color: #F00;