$nav-background-color: #000;
$font-color: #fff;
$line-color: #0FF;
$search-color: #808080;
$matrix-background-color:#C0C0C0;
$arrows: #fff;
$task-color: #060;
$task-manage-title-color: #DFF;
$task-manage-form-color: #EFF;
$notice-background-color: #090;
$alert-background-color: #F00;