.destroy {
  box-sizing: border-box;
  height: 20vh;
  width: 60vw;
  margin: 10vh auto;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  border-radius: 20px;
  &__message {
    background-color: $task-manage-title-color;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px groove;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    font-size: 5vh;
    font-weight: bold;
  }
  &__path {
    background-color: $task-manage-form-color;
    border-radius: 0 0 20px 20px;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    font-size: 3vh;
    a {
      text-decoration: none;
    }
  }
}