.matrix
  .tasks-field
    .tasks
      - @tasks.each do |task|
        .task
          = link_to task_path(task.id) do
            .name
              = task.name
            .content
              = "#{task.content[0,5]}..."
    .urgency-arrow
      .urgency-arrow__triangle
      .urgency-arrow__square
        urgency
  .importance-arrow
    .importance-arrow__square
      importance
    .importance-arrow__triangle
