.sidebar
  .sidebar__project
    .sidebar__project__name
      プロジェクト名1
    .sidebar__project__number-of-tasks
      You have ○ tasks
  .sidebar__project
    .sidebar__project__name
      プロジェクト名2
    .sidebar__project__number-of-tasks
      You have ○ tasks