.header {
  font-size: 2.5vh;
  height: 10vh;
  color: $font-color;
  background-color: $nav-background-color;
  display: flex;
  justify-content: space-between;
  &__left {
    display: flex;

    &__my-task {
      margin: auto 0;
      padding: 0 2vw;
      border-right: 2px solid $line-color;
    }

    &__task-list {
      margin: auto 0;
      padding: 0 2vw;
      border-right: 2px solid $line-color;
    }

    &__task-search {
      margin: auto 0;
      padding: 0 2vw;
      .search-field {
        background-color: $nav-background-color;
        color: $font-color;
        width: 14vw;
        border: none;
      }
      .search-button {
        background-color: $nav-background-color;
        border: none;
        padding: 0;
        span {
          font-size: 2.5vh;
          color: $search-color;
        }
      }
    }
    &__title {
      font-size: 6vh;
      font-weight: bold;
      margin: auto 2vw;
    }
  }
  &__right {
    display: flex;
    &__add-task {
      margin: auto 0;
      padding: 0 2vw;
      border-right: 2px solid $line-color;
    }
    &__profile {
      margin: auto 0;
      padding: 0 2vw 0 2vw;
    }
  }
}