.header {
  font-size: 2.5vh;
  height: 10vh;
  color: $font-color;
  background-color: $nav-background-color;
  display: flex;
  justify-content: space-between;
  &__title {
    font-size: 6vh;
    font-weight: bold;
    margin: auto 2vw;
    a {
      text-decoration: none;
      color: $font-color;
    }
  }
  &__nav {
    display: flex;
    &__add-task {
      margin: auto 0;
      padding: 0 2vw;
      border-right: 2px solid $line-color;
      a {
        text-decoration: none;
        color: $font-color;
      }
    }
    &__profile {
      margin: auto 0;
      padding: 0 2vw;
      a {
        text-decoration: none;
        color: $font-color;
      }
    }
    &__icon {
      border-radius: 50px;
      margin: auto 1vw auto -1vw;
    }
  }
}