.sidebar {
  box-sizing: border-box;
  background-color: $nav-background-color;
  width: 15vw;
  height: 90vh;
  color: $font-color;
  display: block;
  padding:0 2vw;
  a {
    color: $font-color;
    text-decoration: none;
  }
  .task {
    margin: 1vh 1vw;
    padding-bottom: 1vh;
    border-bottom: 2px solid $line-color;
    &__name {
      text-align: center;
      font-weight: bold;
    }
    &__content {
      font-size: 2vh;
    }
    &__importance {
      font-size: 1.8vh;
    }
    &__urgency {
      font-size: 1.8vh;
    }
  }
}