.container{
  position: relative;
  height: 60vh;
  width: 60vw;
  margin: 10vh auto;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  border-radius: 20px;
  &__title {
    background-color: $task-manage-title-color;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px groove;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    font-size: 5vh;
    font-weight: bold;
  }
  &__form {
    background-color: $task-manage-form-color;
    border-radius: 0 0 20px 20px;
    height: 48vh;
    padding:2vh 0 0 5vw ;
    position: relative;
    &__name {
      width: 60%;
      height: 5vh;
      border: none;
      margin-bottom: 2vh;
      border-radius: 10px;
    }
    &__icon {
      position: absolute;
      right: 3vw;
      border-radius: 50px;
    }
    &__e-mail {
      width: 60%;
      height: 5vh;
      border: none;
      margin-bottom: 2vh;
      border-radius: 10px;
    }
    &__password {
      width: 60%;
      height: 5vh;
      border: none;
      margin-bottom: 2vh;
      border-radius: 10px;
    }
    &__pass-confirmation {
      width: 60%;
      height: 5vh;
      border: none;
      margin-bottom: 2vh;
      border-radius: 10px;
    }
    &__current-pass {
      width: 60%;
      height: 5vh;
      border: none;
      margin-bottom: 2vh;
      border-radius: 10px;
    }
    &__update-btn {
      padding: 5px;
      line-height: 5px;
      height: 3vh;
      border: none;
      background-color: $task-manage-form-color;
      cursor: pointer;
      font-weight: bold;
      border-radius: 10px;
      color: $font-color;
    }
    .link {
      position: absolute;
      left: 16vw;
      &__back{
        left: -2vw;
        bottom: 10vh;
        color: $font-color;
      }
      &__signout {
        bottom: 3vh;
        color: $font-color;
      }
    }
  }
}